$blue:    #003C71; // #064CDB;
$indigo:  #003C71 !default; //#6610f2 !default;
$purple:  #8A3FF6;
$pink:    #e83e8c !default;
$red:     #C00404 !default; // #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #FFC72C !default; // #ffc107 !default;
$green:   #00B398 !default; // #28a745 !default;
$teal:    #00B398 !default; // #20c997 !default;
$cyan:    #59CBE8 !default; // #17a2b8 !default;
$brown:   #4E3629 !default;
$sand:    #CCC6B8 !default;
$beige:   #EFECE5 !default;
