<div class="footer d-flex justify-content-center flex-column w-100">
  <div class="d-flex flex-row justify-content-around flex-wrap">
    <div class="d-flex flex-column">
        {{inline-svg "images/cbc-logo" class="cbc-logo"}}
    </div>
    <div class="d-flex flex-column mb-4">
      <a class="font-weight-bold" href="https://ccv.brown.edu">ccv.brown.edu</a>
      <a href="https://ccv.brown.edu/about/">About</a>
      <a href="https://ccv.brown.edu/services/">Services</a>
      <a href="https://ccv.brown.edu/documentation/">Documentation</a>
      <a href="https://medium.com/brown-ccv">News</a>
      <a href="https://ask.cyberinfrastructure.org/c/brown-research-computing">Discourse</a>
    </div>
    <div class="d-flex flex-column">
      <a href="mailto:ccv@brown.edu">
        <FaIcon @icon="envelope" @prefix="fas" class="mr-2"/>
        <span>ccv@brown.edu</span>
      </a>
      <a href="mailto:support@ccv.brown.edu">
        <FaIcon @icon="ticket-alt" @prefix="fas" class="mr-2"/>
        <span>support@ccv.brown.edu</span>
      </a>
      <a href="https://twitter.com/brown_ccv">
        <FaIcon @icon="twitter" @prefix="fab" class="mr-2"/>
        <span>@brown_ccv</span>
      </a>
    </div>
    <div class="d-flex flex-column">
      {{inline-svg "images/brown-logo" class="brown-logo"}}
      {{inline-svg "images/ccv-logo" class="ccv-logo"}}

    </div>
  </div>
  <div class="small mt-5 text-secondary align-self-center p-4">&copy;&nbsp;&nbsp;Center for Computation and Visualization – Brown University – 2019 </div>
</div>
