<div class="hero">
  {{inline-svg "images/refchef" class="hero-art"}}
  <div class="d-flex flex-column justify-content-start w-50">
    <h1>RefChef</h1>
    <h4>List of Genome References available on CCV's Oscar</h4>
  </div>
</div>
