<BsNavbar as |navbar|>
  <div class="navbar-header">
     {{navbar.toggle}}
     <div>
       <a class="navbar-brand" href="https://www.brown.edu">
         {{inline-svg "images/brown-logo" class="brown-logo"}}
       </a>
       <a class="navbar-brand" href="https://cbc.brown.edu">
         {{inline-svg "images/cbc-logo" class="cbc-logo"}}
       </a>
     </div>
  </div>
  {{!-- <navbar.content class="main-nav">
    <navbar.nav as |nav|>
      <nav.item>
        <a class="navbar-brand" href="https://ccv.brown.edu">ccv.brown.edu</a>
      </nav.item>
      <nav.item>
        <a class="navbar-brand" href="https://ccv.brown.edu/documentation/">Documentation</a>
      </nav.item>
      <nav.item>
        <a class="navbar-brand" href="https://ask.cyberinfrastructure.org/c/brown-research-computing">Discourse</a>
      </nav.item>
    </navbar.nav>
  </navbar.content> --}}
</BsNavbar>
