.footer {
  background-color: $beige;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.brown-logo {
  height: 3rem;
}

.cbc-logo {
  height: 3.2rem;
  fill: $primary;
}
.cbc-logo-footer {
  height: 5rem;
}

.ccv-logo {
  @extend .mt-3;
  height: 2.2rem;
  .c1 {
    fill: $yellow;
  }
  .c2 {
    fill: $green;
  }
  .v {
    fill: $yellow;
  }
}
